# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
ENV/

# Data
data/
data/**

# Pytest
.pytest_cache/
.pytest_tmp/
*.tmp/

# OS files
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
